.checkbox {
    @include centered-flex();
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.03em;
}

.checkbox__input {
    @include centered-flex();
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border-radius: 2px;
    border: 2px solid #212121;
    fill: none;

    &--hidden:focus+& {
        box-shadow: 0px 0px 0px 2px $accent-color;
    }
    
    &--hidden:checked+& {
        background-color: $accent-color;
        fill: $white;
        border: none;
    }
}

.checkbox__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $accent-color;
}