.hero {
    background-color: #C4C4C4;
    background-image: linear-gradient(to bottom,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/hero-img-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    letter-spacing: 0.06em;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;

    @media screen and (min-width:1600px) {
        background-image: linear-gradient(to bottom,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../img/hero-img.jpg);        
    }
}

.hero__title {
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white;
    
}