%button {
    cursor: pointer;
    font-family: inherit;
    border: 0px;
    border-radius: 4px;    
}

@import './modal-close-button';
@import './hero-button';
@import './subscription-button';
@import './filter-button';