.subscription__button {
    @extend %button;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    margin-left: auto;
    margin-right: auto;
    background-color: $accent-color;
    color: $white;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    @media screen and (min-width:1200px) {
        margin-left: 12px;
    }
    
    &:hover {
        background-color: #188ce8;
    }
    
    @media screen and (min-wisth:1200px) {
        
        &:hover .subscription__button__icon,
        &:focus .subscription__button__icon {
            transform: translateY(-200%);
        }

        &:hover .subscription__button__icon--hidden,
        &:focus .subscription__button__icon--hidden {
            transform: translateY(0);
        }
    }
}

.subscription__button__icon {
    position: absolute;
    right: 28px;
    fill: currentColor;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &--hidden {
        display: none;
    }

    @media screen and (min-wisth:1200px) {

        &--hidden {
            transform: translateY(200%);
        }
    }
}