.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: $white;
    transform: translateY(-100vh);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &.is-open {
        transform: translateY(0);
    }

    @media screen and (min-width:768px) {
        display: none;
    }
}