 .mobile-nav {
    margin-bottom: auto;
 }
 
 .mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:focus, &:hover {
        color: $accent-color;
    }

    &--current {
        color: $accent-color;
    }
}