$white: #FFFFFF;
$main-bg-color: #F5F4FA;
$second-bg-color: #2F303A;
$text-color: #757575;
$second-text-color: #212121;
$accent-color: #2196F3;
$card-set-gap: 30px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-size: 14px;