.logo {
    @include centered-flex(center);
    height: 100%;
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    &--for-footer {
        color: $white;
        line-height: normal;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;

        @media screen and (min-width:1200px) {
            justify-content: flex-start;
        }
    }
}

.logo__accent {
    color: $accent-color;
}