.social-links {
    @include centered-flex();

    &--for-footer {
            margin-top: 20px;
            padding: 0;
        }
}

.social-links__item:not(:last-child) {
    margin-right: 10px;
}

.social-links__link {
    @include centered-flex();
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
        color: $white;
        background-color: $accent-color;
    }

    &--for-footer {
        background-color: rgba(255, 255, 255, 0.1);
        color: $white;
    }
}

.social-links__icon {
    fill: currentColor;
}